# Workflow to build and deploy docs for the project
name: Build docs

# Controls when the workflow will run
on:
  # Triggers the workflow on pushes to the "main" branch, i.e., PR merges
  push:
    branches: [ "main" ]

  # Triggers the workflow on pushes to open pull requests to main with documentation changes
  pull_request:
    branches: [ "main" ]
    paths:
      - '.github/workflows/build_docs.yml'
      {% for trigger in docs_file_paths %}- '{{ trigger | safe }}'{% endfor %}

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Helps prevent parallel runs of the workflow from overlapping
concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

# Write permissions are not needed for all jobs in this workflow
# TODO Separate test and deploy jobs
permissions: {}

# Workflow run - one or more jobs that can run sequentially or in parallel
jobs:
  # Build the project documentation but do not deploy it
  test-build:
    name: test docs build
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # The timeout minutes for the job to complete
    timeout-minutes: {{ build_docs_timeout }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      {%- if carbon_aware -%}
      {% raw %}
      - name: Start Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
        with:
          task: start-measurement
        continue-on-error: true

      - name: Build documentation
        run: echo "TODO replace this echo call with your docs build commands"

      # NOTE: To measure energy consumption of specific steps in your workflow,
      # For each step you want to measure, add a measurement step after it with a unique label
      # this will allow the eco-ci tool to collect energy consumption data. Example below.
      # See https://github.com/green-coding-solutions/eco-ci-energy-estimation?tab=readme-ov-file#github-action-mandatory-and-optional-variables
      #   - name: Tests measurement
      #     uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
      #     with:
      #       task: get-measurement
      #       label: 'pytest'
      #     continue-on-error: true

      - name: Show Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
        with:
          task: display-results
        continue-on-error: true
      {%- endraw -%}
      {%- else -%}
      {% raw %}
      - name: Build documentation
        run: echo "TODO replace this echo call with your docs build commands"
      {%- endraw -%}
      {%- endif -%}

  # Build the project documentation and deploy it
  build-and-deploy:
    name: build and deploy docs
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # The timeout minutes for the job to complete
    timeout-minutes: {{ build_docs_timeout }}

    # We trust the deploy action with write permissions
    permissions:
      contents: write
      id-token: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      {%- if carbon_aware -%}
      {% raw %}
      - name: Start Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
        with:
          task: start-measurement
        continue-on-error: true

      - name: Build and deploy documentation
        run: echo "TODO replace this echo call with your docs build and deploy commands"

      # NOTE: To measure energy consumption of specific steps in your workflow,
      # For each step you want to measure, add a measurement step after it with a unique label
      # this will allow the eco-ci tool to collect energy consumption data. Example below.
      # See https://github.com/green-coding-solutions/eco-ci-energy-estimation?tab=readme-ov-file#github-action-mandatory-and-optional-variables
      #   - name: Tests measurement
      #     uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
      #     with:
      #       task: get-measurement
      #       label: 'pytest'
      #     continue-on-error: true

      - name: Show Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
        with:
          task: display-results
        continue-on-error: true
      {% endraw %}
      {% else %}
      {% raw %}
      - name: Build and deploy documentation
        run: echo "TODO replace this echo call with your docs build and deploy commands"
      {% endraw %}
      {%- endif -%}
