# Workflow to perform static analysis on the project
name: Static analysis

# Controls when the workflow will run
on:
  # Triggers the workflow on pushes to the "main" branch, i.e., PR merges
  push:
    branches: [ "main" ]

  # Triggers the workflow on pushes to open pull requests to main with documentation changes
  pull_request:
    branches: [ "main" ]
    paths:
      - '.github/workflows/*.yml'{% for trigger in source_file_paths %}
      - '{{ trigger | safe }}'{% endfor %}

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Helps prevent parallel runs of the workflow from overlapping
concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

# Write permissions are not needed for this workflow
permissions: {}

# Workflow run - one or more jobs that can run sequentially or in parallel
jobs:
  # Run static analysis tools
  static-analysis:
    name: static analysis
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # The timeout minutes for the job to complete
    timeout-minutes: {{ static_analysis_timeout }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      {%- if carbon_aware -%}
      {% raw %}
      - name: Start Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
        with:
          task: start-measurement
        continue-on-error: true

      - name: Run static analysis tools
        run: echo "TODO replace this echo call with your static analysis tool commands"

      # NOTE: To measure energy consumption of specific steps in your workflow,
      # For each step you want to measure, add a measurement step after it with a unique label
      # this will allow the eco-ci tool to collect energy consumption data. Example below.
      # See https://github.com/green-coding-solutions/eco-ci-energy-estimation?tab=readme-ov-file#github-action-mandatory-and-optional-variables
      #   - name: Tests measurement
      #     uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
      #     with:
      #       task: get-measurement
      #       label: 'pytest'
      #     continue-on-error: true

      - name: Show Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
        with:
          task: display-results
        continue-on-error: true
      {%- endraw -%}
      {%- else -%}
      {% raw %}
      - name: Run static analysis tools
        run: echo "TODO replace this echo call with your static analysis tool commands"
      {%- endraw -%}
      {% endif %}

  # Apply GitHub Actions linter, zizmor
  zizmor:
    name: zizmor
    runs-on: ubuntu-latest
    permissions:
      security-events: write # Trusted with write permissions
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@e673c3917a1aef3c65c972347ed84ccd013ecda4 # v0.2.0
