# Workflow to run the test suite for the project
name: Test suite

# Controls when the workflow will run
on:
  # Triggers the workflow on pushes to the "main" branch, i.e., PR merges
  push:
    branches: [ "main" ]
    paths:
      - '.github/workflows/test_suite.yml'{% for trigger in source_file_paths %}
      - '{{ trigger | safe }}'{% endfor %}{% for trigger in build_sys_file_paths %}
      - '{{ trigger | safe }}'{% endfor %}{% for trigger in requirements_file_paths %}
      - '{{ trigger | safe }}'{% endfor %}

  # Triggers the workflow on pushes to open pull requests to main with documentation changes
  pull_request:
    paths:
      - '.github/workflows/test_suite.yml'{% for trigger in source_file_paths %}
      - '{{ trigger | safe }}'{% endfor %}{% for trigger in build_sys_file_paths %}
      - '{{ trigger | safe }}'{% endfor %}{% for trigger in requirements_file_paths %}
      - '{{ trigger | safe }}'{% endfor %}

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Helps prevent parallel runs of the workflow from overlapping
concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: true

# Write permissions are not needed for all jobs in this workflow
permissions: {}

# Workflow run - one or more jobs that can run sequentially or in parallel
jobs:
  # Run the project test suite
  test-suite:
    name: test suite
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # The timeout minutes for the job to complete
    timeout-minutes: {{ test_suite_timeout }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checkout your repository under $GITHUB_WORKSPACE so your job can access it
      - name: Checkout code
        with:
          persist-credentials: false
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      {%- if carbon_aware -%}
      {% raw %}
      - name: Start Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
        with:
          task: start-measurement
        continue-on-error: true

      - name: Test suite
        run: echo "TODO replace this echo call with your test suite commands"

      # NOTE: To measure energy consumption of specific steps in your workflow,
      # For each step you want to measure, add a measurement step after it with a unique label
      # this will allow the eco-ci tool to collect energy consumption data. Example below.
      # See https://github.com/green-coding-solutions/eco-ci-energy-estimation?tab=readme-ov-file#github-action-mandatory-and-optional-variables
      #   - name: Tests measurement
      #     uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
      #     with:
      #       task: get-measurement
      #       label: 'pytest'
      #     continue-on-error: true

      - name: Show Energy Results
        uses: green-coding-solutions/eco-ci-energy-estimation@862050e4f01f65b1436e5eca18ba4bd85562f0de # v5.0.0
        with:
          task: display-results
        continue-on-error: true
      {%- endraw -%}
      {%- else -%}
      {% raw %}
      - name: Test suite
        run: echo "TODO replace this echo call with your test suite commands"
      {%- endraw -%}
      {%- endif -%}
